@font-face {
    font-family: 'HalyardDisplay_font';
    src: url(./fonts/HalyardDisplayMedium.woff);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.halyardDisplay_font {
  font-family: 'HalyardDisplay_font', sans-serif;
}
.debug{
  border: 2px solid red;
}

.container{
    max-width: 1220px;
    margin: auto;
}

/* common styles */
.custom-swiper-btn_next{
  width: 50px;
  height: 50px;
  background: #6E9EFA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-swiper-btn_prev {
  width: 50px;
  height: 50px;
  background: rgb(237, 237, 237);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* left button */
.custom-swiper-btn_prev {
  left: 20px;
}

.custom-swiper-btn_prev:hover{
  background: #6E9EFA;
}

.custom-swiper-btn_next:hover{
  background: rgb(237, 237, 237);
}

/* right button */
.custom-swiper-btn_next {
  right: 20px;
}

/* Scrolled navbar effect*/
.scrolled{
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
}

/* when scrolled the nav text should be 0f172a */
.navLinks-colored a {
  color: white;
}

.nestedLink a{
  color: black;
}

.navLinks-colored-icons{
  color: white !important;
}

.mega_menu{
  color: #424B5C !important;
  transition: 0.3s ease;
}

.mega_menu:hover{
  color: #6E9EFA !important;
}

.mega_menu {
  position: relative;
}

.mega_menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #6E9EFA;
  transition: width 0.3s ease;
}

.mega_menu:hover::before {
  width: 12px;
}

.swiper-slide .hero_content{
  opacity: 0;
  transform: translateX(-400px);
  transition:  opacity 0.8s ease, transform 0.8s ease;
}

.swiper-slide-active .hero_content{
  opacity: 1;
  transform: translateX(0);
}

/* .swiper-slide .doctor_banner_image{
  opacity: 0;
  transform: translateX(400px);
  transition:  opacity 0.8s ease, transform 0.8s ease;
}

.swiper-slide-active .doctor_banner_image{
  opacity: 1;
  transform: translateX(0);
} */













@media screen and (max-width: 576px){
  .custom-swiper-btn_next, .custom-swiper-btn_prev{
    top: 65%;
  }
}